@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/cloudss.jpg);
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container{
    position: relative;
    width: 400px;
    height: 100px;
    backdrop-filter: blur(7px);
    background: rgba(246, 246, 248, 0.153);
    border-radius: 16px;
    padding: 20px;
    color: white;
    transition: height .6s ease;
}
.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.search-box__locator{
    position: absolute;
    left: 10px;
    
}
.search-box__input{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}
.search-box__input::placeholder{
    color: #fff;
}
.search-box__btn{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 40px 0 5px;
    cursor: pointer;
}
.weather-box,
.weather-details,
.not-found{
    visibility: hidden;
}
.weather-box.active,
.weather-details.active,
.not-found.active{
    visibility: visible;
}
.weather-box{
    text-align: center;
    margin: 40px 0;
}
.weather-box img{
    width: 60%;
}
.weather-box__temperature{
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}
.weather-box__temperature span{
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}
.weather-box__description{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather-details{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}
.weather-details .humidity,
.weather-details .wind{
    display: flex;
    align-items: center;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}
.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}
.weather-details img{
    margin-right: 10px;
}
.weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}
.weather-details p{
    font-size: 14px;
    font-weight: 500;
}
.not-found{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}
.not-found__img{
    width: 65%;
}
.not-found__description{
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
